<li>
    <a href="#"><i class="icon-envelop3"></i> <span><%= t(:newsletter) %></span></a>
    <ul>
        <li<% if["naturesoft/banners/admin/newsletters"].include?(params[:controller]) %>class="active"<% end %>>
            <%= link_to t(:newsletters), naturesoft_newsletters.admin_newsletters_path %>
        </li>
    </ul>
</li>