<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <label class="control-label" ><%= t(:style) %> <span class='text-danger'>*</span></label>
        <div class="">
          <%= text_field_tag "options[style]", options["style"], class: "form-control required" %>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
        <label class="control-label" ><%= t(:description) %> </label>
        <div class="">
            <%= text_area_tag "options[description]", options["description"], class: "form-control" %>
        </div>
    </div>
  </div> 
</div>